* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.videocontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.videocontainer .box {
    position: relative;
    width: 48%;
    height: auto;
    filter: grayscale(1);
    display: flex;
    flex-direction: column;
}

.videocontainer .box:hover {
    filter: grayscale(0);
}

details {
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 2em 2em 2em;
    cursor: pointer;
}